<header class="header-6">
  <div class="branding">
      <a href="..." class="nav-link">
          <clr-icon shape="vm-bug"></clr-icon>
          <span class="title">Project Clarity</span>
      </a>
  </div>
  <div class="header-nav">
      <a href="..." class="active nav-link"><span class="nav-text">Dashboard</span></a>
      <a href="..." class="nav-link"><span class="nav-text">Interactive Analytics</span></a>
  </div>
  <div class="header-actions">
      <a href="..." class="nav-link nav-icon" aria-label="settings">
          <clr-icon shape="cog"></clr-icon>
      </a>
  </div>
</header>
